<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= firstName %> <%= lastName %> | Social Media App</title>
  <style>
    body {
      background-color: #eee;
    }

    .container {
      padding: 20px;
      margin: 20px auto;
      text-align: center;
      background-color: white;
      width: min-content;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      border-radius: 5px;
    }

    .premium {
      background-color: rgba(210, 175, 38, 0.4);
      color: goldenrod;
      border: 1px solid goldenrod;
      border-radius: 5px;
    }

    img {
      border-radius: 50%;
    }

    .skills-list {
      padding: 0;
      list-style: none;
    }
  </style>
</head>
<body>
  <div class="container">
    <% if(isPremium) { %>
      <div class="premium">👑 Premium</div>
    <% } %>
    <h1><%= firstName %> <%= lastName %></h1>
    <img src="<%= avatar %>">
    <p><%= email %></p>
    <h4>Skills</h4>
    <ul class="skills-list">
      <% skills.forEach(skill => { %>
        <li><%= skill %></li>
      <% }) %>
    </ul>
  </div>
</body>
</html>